body {
    font-family: 'Roboto Mono', monospace;
  }
  
  h1 {
    margin: 20px;
    text-align: center;
    font-size: 18px;
  }

  a {
    font-size: larger;
    text-decoration: none;
    background-color: white;
    color: black;    
    box-shadow:5px 5px 5px 5px #423b3b;    
    border-radius: 10px;
    }

   a:hover{
    background-color: rgb(183, 245, 14);
   }
  
  .container {
    height: 300px;
    width: 600px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .left,
  .center,
  .right {
    
    width: 200px;
    margin: 2px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
    min-height: 75px;
  }
  
  #flexstart {
  align-content: flex-start;
  }
  
  #flexend {
  align-content: flex-end;
  }
  
  #center {
  align-content: center;
  }
  
  #between {
  align-content:space-between;
  }
  
  #around {
  align-content: space-around;
  }
  