body {
    border: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: whitesmoke;
  }
  
  h1 {
    text-align: center;
    display: block;
    font-size: 18px;
    
  }

  .header {
    height: 100px;
    width: 100%;
    font-size: x-large;
    display: flex;
    background-color: rgb(241, 227, 26);
    justify-content: center;

  }

  .header>h1{
    padding-top: 25px;
    font-size: 1.5rem;
    text-shadow: 5px 5px 5px black;
  }

  

  .container {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;   
  }

  .container>h2{
    font-size: 1rem;
    border-spacing: 10px;
    
  }

  a {
    font-size: larger;
    text-decoration: none;
    color: blue;    
    box-shadow:5px 5px 5px 5px #423b3b;    
    border-radius: 5px;
    }

   a:hover{
    background-color: rgb(183, 245, 14);
   }

   .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;     
    height: 50px;
    font-size: x-large;
    display: flex;
    background-color: rgb(241, 227, 26);
    justify-content: center;
    align-items: center;
  }