body {
    margin: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  h1 {
    text-align: center;
    font-size: 18px;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
  }
  a {
    font-size: larger;
    text-decoration: none;
    background-color: white;
    color: black;    
    box-shadow:5px 5px 5px 5px #423b3b;    
    border-radius: 10px;
    }

   a:hover{
    background-color: rgb(183, 245, 14);
   }
  
  .grow,
  .shrink {
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
    margin: 10px 30px;
  }
  
  .grow.side {
  flex-basis: 60px;
  flex-grow: 1;
  }
  
  .grow.center {
  flex-grow: 3;
  }
  
  .shrink.side {
  flex-basis: 300px;
  flex-shrink: 3;
  }
  /* Flex grow , shrink and basis can be declared in the same line */
  .shrink.center {
   flex-shrink: 2;
   flex-basis: 150px;
   /* flex: 3 2 150px; */
  }
  
  #grows,
  #shrinks {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    min-height: 200px;
    align-items: center;
  }
  